.titulo-principal{
	font-size: 3em;
}
.text-negrita{
	font-weight: bold;
}
.padding-mas{
	padding: 10px 20px;
}
.ancho{
	margin: 10px 0;
}
.img-brand{
	width: 90px;
}
h1{
	display: block;
	text-align: center;
	font-weight: bold;
	font-style: oblique;
	font-family: 'Arvo';
	color:white;
}
#inicio{
	background-color: #53A35B;
	/*53A35B*/
}
nav div{
	/*position: absolute;*/
	background-color: #0DA125;
}
h2{
	
	/*text-align: center;*/
	font-weight: bold;
	font-style: oblique;
	font-family: 'Arvo';
	color:#ECF0E3;
}
nav div ul li {
	font-family: 'Arvo';
	font-weight: bold;
	text-decoration: none;
	font-size: 1.5em;
}
section{
	border: 2px dashed steelblue;
	height: 35em;
}
section div{
	border-radius: 55px;
	height: 15em;
	text-align: center;
}
section div a{
	border-radius: 100em;
}
